@model List<FILMHUB.ViewModel.FavoriteMovieViewModel>

@{
    ViewData["Title"] = "Favoritos";
}

<div class="favorites-movies">
    
    <div class="favorites-header">
        <h1>Favoritos</h1>
        <p>@Model.Count filmes como favoritos</p>
    </div>
    
    
    <hr/>

    <div class="movie-cards-container">

        @if (Model.Any())
        {
            @foreach (var movie in Model)
            {
                <div class="movie-card">
                    <div class="movie-image">
                        <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.MovieId">
                            <img class="lazyload" loading="lazy"
                                 src="@($"https://image.tmdb.org/t/p/w300{movie.PosterPath}")"
                                 alt="@movie.Title"/>
                        </a>
                    </div>
                    <p class="movie-rating">
                        <span class="material-symbols-outlined">
                            star_rate
                        </span>@Math.Round(movie.VoteAverage, 1)
                    </p>
                    <p class="movie-title">@movie.Title</p>
                </div>
            }
        }
        else
        {
            <p>Não tem filmes como favoritos</p>
        }
    </div>
</div>
