@model FILMHUB.ViewModel.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="home-container">
    
    <section class="home-banner">
        
    </section>

    <section class="popular-movies">
        <h2 class="section-title">Populares da semama</h2>

        <div class="carousel-wrapper">
            <button class="carousel-btn left" onclick="scrollCarousel('popularCarousel', -900)">‹</button>

            <div class="carousel" id="popularCarousel">
                @foreach (var movie in Model.TrendingMovies)
                {
                    <div class="movie-card">
                        <div class="movie-image">
                            <img loading="lazy" src="@($"https://image.tmdb.org/t/p/w300{movie.PosterPath}")"
                                 alt="@movie.Title"/>
                        </div>

                        <p class="movie-title">@movie.Title</p>
                    </div>
                }
            </div>
            <button class="carousel-btn right" onclick="scrollCarousel('popularCarousel', 900)">›</button>
        </div>
    </section>

    <section class="theater-movies">
        <h2 class="section-title">Nos cinemas</h2>

        <div class="carousel-wrapper">
            <button class="carousel-btn left" onclick="scrollCarousel('theatersCarousel', -900)">‹</button>

            <div class="carousel" id="theatersCarousel">
                @foreach (var movie in Model.MoviesInTheaters)
                {
                    <div class="movie-card">
                        <div class="movie-image">
                            <img loading="lazy" src="@($"https://image.tmdb.org/t/p/w300{movie.PosterPath}")"
                                 alt="@movie.Title"/>
                        </div>

                        <p class="movie-title">@movie.Title</p>
                    </div>
                }
            </div>
            <button class="carousel-btn right" onclick="scrollCarousel('theatersCarousel', 900)">›</button>
        </div>
    </section>

    <section class="top-movies">
        <h2 class="section-title">Os favoritos do público</h2>

        <div class="carousel-wrapper">
            <button class="carousel-btn left" onclick="scrollCarousel('topmoviesCarousel', -900)">‹</button>

            <div class="carousel" id="topmoviesCarousel">
                @foreach (var movie in Model.TopRatedMovies)
                {
                    <div class="movie-card">
                        <div class="movie-image">
                            <img loading="lazy" src="@($"https://image.tmdb.org/t/p/w300{movie.PosterPath}")"
                                 alt="@movie.Title"/>
                        </div>

                        <p class="movie-title">@movie.Title</p>
                    </div>
                }
            </div>
            <button class="carousel-btn right" onclick="scrollCarousel('topmoviesCarousel',900)">›</button>
        </div>
    </section>

</div>

<script>
    function scrollCarousel(carrouselId, value) {
        document.getElementById(carrouselId)
            .scrollBy({ left: value, behavior: "smooth" });
    }
</script>