@model FILMHUB.ViewModel.MovieDetailsViewModels;

@{
    ViewData["Title"] = "Details";
}

<div class="movie-details">
    
    <div class="details-banner">
        <img src="@($"https://image.tmdb.org/t/p/w1280{Model.Movie.BackdropPath}")"/>

        <div class="details-content">
            <h1 class="details-title">@Model.Movie.Title</h1>
            <p>@Model.Movie.ReleaseDate</p>
            <p>@Model.Movie.Runtime</p>
        </div>
    </div>
    
    <div class="review-section">
        
        <img width="200" src="@($"https://image.tmdb.org/t/p/w1280{Model.Movie.PosterPath}")"/>
        
        @{
            var userName = Context.Session.GetString("UserName");
        }
        
        @if (!string.IsNullOrEmpty(userName))
        {
            <div>Watchlist</div>
        }
        else
        {
            <div class="login-to-review">
                <a asp-controller="Auth" asp-action="Login">Faça login para avaliar</a>
                
                <h3>Avaliação do público</h3>
                <p>
                    <span class="material-symbols-outlined">
                        star_rate
                    </span>
                    @Math.Round(Model.Movie.VoteAverage, 1)
                </p>
                
            </div>
            
        }
            
        
        
    </div>
    
    <hr/>

    <div class="sinopse">
        <h2>Sinopse</h2>
        <p>@Model.Movie.Overview</p>
    </div>
    
    <hr/>
    
    <div class="trailer">
        
        @if (Model.Trailer != null && Model.Trailer.Any())
        {
            @if (!string.IsNullOrEmpty(Model.Trailer))
            {
                <h2>Trailer</h2>
                
                <iframe
                    width="790"
                    height="420"
                    src="https://www.youtube.com/embed/@Model.Trailer" 
                    frameborder="0"
                    allowfullscreen>
                </iframe>
            }
        }
        else
        {
            <p></p>
        }
        
    </div>
    
    <hr/>
    
</div>