@model FILMHUB.Models.MovieApiResponse;

@{
    ViewData["Title"] = "Filmes";
}

<div class="movies">
    <h1 class="section-title">Filmes populares</h1>
    
    <hr/>
    
    <div class="movies-grid">
        @foreach (var movie in Model.Results)
        {
            <div class="movie-card-grid">
                <div class="movie-card__image">
                    <a asp-controller="Home"
                       asp-action="MovieDetails"
                       asp-route-id="@movie.Id">
                        <img class="lazyload"
                             loading="lazy"
                             src="@($"https://image.tmdb.org/t/p/w300{movie.PosterPath}")"
                             alt="@movie.Title" />
                    </a>
                </div>
            </div>
        }
    </div>
    
    <div class="pagination">
        <a asp-controller="Home" asp-action="Movies" 
           asp-route-page="@(Math.Max(Model.Page - 1, 1))"
           class="prev-button @(Model.Page == 1 ? "disabled" : "")">
            &lt;
        </a>

        @for (int i = 1; i <= 10; i++)
        {
            <a asp-controller="Home" asp-action="Movies" asp-route-page="@i"
               class="@(i == Model.Page ? "active" : "")">
                @i
            </a>
        }

        <a asp-controller="Home" asp-action="Movies" 
           asp-route-page="@(Math.Min(Model.Page + 1, 10))"
           class="next-button @(Model.Page == 10 ? "disabled" : "")">
            &gt;
        </a>
    </div>

    
</div>