@model FILMHUB.ViewModel.MovieDetailsViewModels;

@{
    ViewData["Title"] = "Details";

    int hour = @Model.Movie.Runtime / 60;
    int minutes = @Model.Movie.Runtime % 60;
    
    var director = Model.Crew.FirstOrDefault(c => c.Job == "Director");
}

<div class="movie-details">
    
    <div class="details-banner">
        <img src="@($"https://image.tmdb.org/t/p/w1280{Model.Movie.BackdropPath}")"/>

        <div class="details-content">
            
            <div class="details-title">
                <h1>@Model.Movie.Title</h1>
                <p>@Model.Movie.ReleaseDate?.Year</p>
            </div>
            
            <p>
                <span class="certification age-@Model.Certification">@(Model.Certification == "L" ? "Livre" : Model.Certification)</span> 
                     &bull;  @hour h @minutes m &bull;  Dirigido por @director.Name
            </p>
        </div>
    </div>
    
    <div class="review-section">
        
        <img width="200" src="@($"https://image.tmdb.org/t/p/w1280{Model.Movie.PosterPath}")"/>
        
        @{
            var userName = Context.Session.GetString("UserName");
        }
        
        @if (!string.IsNullOrEmpty(userName))
        {
            <div class="review-movie">

                <div class="movie-actions">
                    @switch (Model.UserMovie?.Status)
                    {
                        case UserMovieStatus.WantToWatch:
                            <form asp-action="SetStatus" method="post">
                                <input type="hidden" name="movieId" value="@Model.Movie.Id" />
                                <input type="hidden" name="status" value="2" />
                                <button type="submit" class="btn btn-to-watch">Para assistir</button>
                            </form>
                            break;

                        case UserMovieStatus.Watched:
                            <form asp-action="SetStatus" method="post">
                                <input type="hidden" name="movieId" value="@Model.Movie.Id" />
                                <input type="hidden" name="status" value="0" /> 
                                <button type="submit" class="btn btn-to-watched">Já assisti</button>
                            </form>
                            break;

                        default:
                            <form asp-action="SetStatus" method="post">
                                <input type="hidden" name="movieId" value="@Model.Movie.Id" />
                                <input type="hidden" name="status" value="1" />
                                <button type="submit" class="btn">Assistir</button>
                            </form>
                            break;
                    }
                    
                    <form asp-action="IsFavorite" method="post">
                        <input type="hidden" name="movieId" value="@Model.Movie.Id" />
                        <input type="hidden" name="status"
                               value="@(Model.UserMovie != null && Model.UserMovie.IsFavorite ? "false" : "true")"/>
                        <button type="submit" class="btn btn-favorite">
                            @(Model.UserMovie != null && Model.UserMovie.IsFavorite ? "Desfavoritar" : "Favoritar")
                        </button>
                    </form>
                </div>

                <div class="movie-rating-details">
                    <div class="rating-info">
                        <h3>Avaliação do público</h3>
                        <p>
                            <span class="material-symbols-outlined">star_rate</span>
                            @Math.Round(Model.Movie.VoteAverage, 1)
                        </p>
                    </div>

                    <button class="btn btn-review">Avaliar</button>
                </div>

            </div>

        }
        else
        {
            <div class="login-to-review">
                <a asp-controller="Auth" asp-action="Login">Faça login para avaliar</a>
                
                <h3>Avaliação do público</h3>
                <p>
                    <span class="material-symbols-outlined">
                        star_rate
                    </span>
                    @Math.Round(Model.Movie.VoteAverage, 1)
                </p>
                
            </div>
            
        }
            
        
        
    </div>
    
    <hr/>

    <div class="sinopse">
        <h2>Sinopse</h2>
        <p>@Model.Movie.Overview</p>
    </div>
    
    
    
    <div class="trailer">
        
        @if (Model.Trailer != null && Model.Trailer.Any())
        {
            @if (!string.IsNullOrEmpty(Model.Trailer))
            {
                <hr/>
                
                <h2>Trailer</h2>
                
                <iframe
                    width="790"
                    height="420"
                    src="https://www.youtube.com/embed/@Model.Trailer" 
                    frameborder="0"
                    allowfullscreen>
                </iframe>
            }
        }
        else
        {
            <p></p>
        }
        
    </div>
    
    <hr/>
    
</div>