@model FILMHUB.Models.MovieApiResponse;

@{
    ViewData["Title"] = "Busca";

    var query = Context.Request.Query["query"];
}

<div class="search-container">
    
    <h2>Resultados para "@query"</h2>
    
    <hr/>
    
    <div class="search-content">
        
        @if (Model.Results.Any())
        {
            @foreach (var movie in Model.Results)
            {
                @if (!string.IsNullOrWhiteSpace(movie.PosterPath))
                {
                    <div class="movie-card-search">
                        <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                            <img class="lazyload" src="@($"https://image.tmdb.org/t/p/w300{movie.PosterPath}")"
                                 alt="@movie.Title"/>
                        </a>
                    </div>
                }
            }
        }
        else
        {
            <p>Sem resultados para @query</p>
        }
    </div>
</div>
