@model List<FILMHUB.Models.Movie>

@{
    ViewData["Title"] = "Watchlist";
}

<div class="watchlist-container">
    
    <div class="watchlist-header">
        <h1>Watchlist</h1>
        <p>@Model.Count filmes para assistir</p>
    </div>
    
    <hr/>
    
    <div class="watchlist-movie">
        @foreach (var movie in Model)
        {
            <div class="watchlist-card">
                
                <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                    <img class="lazyload" loading="lazy" src="@($"https://image.tmdb.org/t/p/w300{movie.PosterPath}")"
                         alt="@movie.Title"/>
                </a>
                <p>@movie.Title</p>
            </div>
        }
    </div>
    
    
</div>